<section class="bg-info-subtle d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container text-center">
        <h1 class="mb-3">about component</h1>
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Freelancer is a free bootstrap theme created by Route. The download includes the
                    complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Freelancer is a free bootstrap theme created by Route. The download includes the
                    complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
        </div>
    </div>
</section>