<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">Start Framework</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto ">

                <li class="nav-item ">
                    <a class="nav-link " routerLink="about" routerLinkActive="bg-danger  rounded rounded-3">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="portfolio"
                        routerLinkActive="bg-danger rounded rounded-3">portfolio</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" routerLink="contact" routerLinkActive="bg-danger rounded rounded-3">contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>