<div class="container text-center m-auto">
    <h1 class="mt-5">conatct section</h1>
    <div class="w-75 m-auto mt-5">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userName">
            <label for="userName">userName </label>
        </div>
        <div class="form-floating mb-3 ">
            <input type="number" class="form-control" id="userAge">
            <label for="userAge">userAge </label>
        </div>
        <div class="form-floating mb-3 ">
            <input type="email" class="form-control" id="userEmail">
            <label for="userEmail">userEmail </label>
        </div>
        <div class="form-floating mb-3 ">
            <input type="password" class="form-control" id="userPassword">
            <label for="userPassword">userPassword </label>
        </div>
        <button class="btn btn-success">send message</button>
    </div>
</div>