<section class="bg-info-subtle " style="height: 100vh;">
    <div class="container m-auto ">
        <div class="row g-4 " style="padding-top: 9%;">
            <div class="col-md-4 *ngFor=" let image of images"">
                <img [src]="image.src" class="w-100" [alt]="image.alt">
            </div>
            <!-- <div class="col-md-4">
                <img src="assets/imgs/work-2.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/imgs/work-3.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/imgs/work-4.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/imgs/work-5.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-4">
                <img src="assets/imgs/work-6.jpg" class="w-100" alt="">
            </div> -->
        </div>
    </div>
</section>